// *,*:before,*:after{
//     box-sizing: border-box;
// }
// body{
//     font-family: 'Noto Sans TC', sans-serif;
//     line-height: 1.5 ;
// }
// img{
//     // .img-fluid 來讓圖片加入 max-width: 100% 和 height: auto;
//     max-width: 100% ;
//     vertical-align: middle ;
//     height: auto ;
// }

.z-index-1{
    z-index: 1 !important;
  }
  .z-index-2{
    z-index: 2 !important;
  }
  .z-index-3{
    z-index: 3 !important;
  }
  .z-index-99{
    z-index:1021 !important;
  }