.nav-link:hover{
    color: $primary-400 !important;
  }
  .link-color:active{
      background-color: $primary-200;
      color: $primary-500;
    }
  
  .link-color:hover{
      background-color: $primary-200;
      color: $primary-500 !important;
    }
  
  .nav-link.active {
    background-color: $primary-200;
    color: $primary-500;
  }