.nav-link:hover{
    color: $primary-400 !important;
  }
  .link-color:active{
      background-color: $primary-400;
      color: $white;
    }
  
  .link-color:hover{
      background-color: $primary-400;
      color: $white !important;
    }
  
  .nav-link.active {
    background-color: $primary-400;
    color: $white;
  }