<footer class="footer">
  <div class="bg-light">
    <div class="container py-10 justify-content-between">
      <nav class="navbar mb-10 flex-column flex-lg-row py-0">
        <a href="index.html" class="navbar-brand mb-10 mb-lg-0 py-0 mx-0">
          <img src="../assets/images/logo.png" alt="南部輕旅遊">
        </a>
        <ul class="navbar-nav flex-column flex-lg-row">
          <li class="nav-item">
            <a class="nav-link px-5 px-xl-10 fs-6 fs-lg-5 text-dark mb-3 mb-lg-0" href="tourist-attractions.html">南部旅遊景點</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5 px-xl-10 fs-6 fs-lg-5 text-dark mb-3 mb-lg-0" href="#">南部旅遊方案</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5 px-xl-10 fs-6 fs-lg-5 text-dark mb-3 mb-lg-0" href="#">南部旅遊預算</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-row fs-add-2">
          <li class="nav-item">
            <a class="nav-link py-0 ps-1" href="#">
              <img src="../assets/images/mdi_youtube.png" alt="mdi_youtube" class="img-lg">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-0 ps-6" href="#">
              <img src="../assets/images/mdi_instagram.png" alt="mdi_instagram" class="img-lg">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-0 ps-6" href="#">
              <img src="../assets/images/ic_baseline-facebook.png" alt="facebook" class="img-lg">
             </a>
          </li>
        </ul>
      </nav>
      <div class="d-flex flex-column align-items-center">
        <p class="fw-bold text-dark mb-1">
          南部輕旅行 「完美套裝」
        </p>
        <p class="fw-bold text-dark mb-1">
          輕鬆省心，玩得盡興！
        </p>
        <p class="text-dark mb-10">
          景點探索 + 美食巡禮 + 便捷交通 + 舒適住宿
        </p>
        <p class="text-dark2 fs-7 fs-lg-6 text-center">
          本網站僅供個人作品使用，不提供商業用途<br>
          資料來源：<a href="https://www.taiwan.net.tw/">臺灣觀光資訊網</a>
        </p>
      </div>
    </div>
  </div>
  <p class="text-center text-dark py-6 bg-light2">© 2023 Willmeow All Rights Reserved.</p>
</footer>