<footer class="footer">
  <div class="bg-light">
    <div class="container py-10 justify-content-between">
      <nav class="navbar mb-10 flex-column flex-lg-row py-0">
        <a href="index.html" class="navbar-brand mb-10 mb-lg-0 py-0 mx-0">
          <img src="../assets/images/logo.png" alt="南部輕旅遊">
        </a>
        <ul class="navbar-nav flex-column flex-lg-row">
          <li class="nav-item">
            <a class="nav-link px-5 px-xl-10 fs-6 fs-lg-5 text-dark mb-3 mb-lg-0" href="tourist-attractions.html">南部旅遊景點</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5 px-xl-10 fs-6 fs-lg-5 text-dark mb-3 mb-lg-0" href="tourist-package.html">南部旅遊方案</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5 px-xl-10 fs-6 fs-lg-5 text-dark mb-3 mb-lg-0" href="tourist-budget.html">南部旅遊預算</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-row fs-add-2">
          <li class="nav-item">
            <a class="nav-link py-0 ps-1" href="#">
              <i class="bi bi-youtube img-lg"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-0 ps-6" href="#">
              <i class="bi bi-instagram img-lg"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-0 ps-6" href="#">
              <i class="bi bi-facebook img-lg"></i>
             </a>
          </li>
        </ul>
      </nav>
      <div class="d-flex text-center flex-column align-items-center">
        <p class="fw-bold text-dark mb-1">
          南部輕旅行 「完美套裝」
        </p>
        <p class="fw-bold text-dark mb-1">
          輕鬆省心，玩得盡興！
        </p>
        <p class="text-dark mb-10">
          景點探索 + 美食巡禮 + 便捷交通 + 舒適住宿
        </p>
        <p class="text-dark2 fs-7 fs-lg-6">
          本網站僅供個人作品使用，不提供商業用途<br>
          資料來源<br><a href="https://www.taiwan.net.tw/" class="fw-bold fs-7" target="_blank">臺灣觀光資訊網</a>
          <br><a href="https://www.swcoast-nsa.gov.tw/zh-tw/gwoia" class="fw-bold fs-7" target="_blank">雲嘉南濱海國家風景區管理處網站</a>
          <br><a href="https://khh.travel/" target="_blank" class="fw-bold fs-7">高雄旅遊網</a>
        </p>
      </div>
    </div>
  </div>
  <div class="bg-light2">
    <div class="container d-flex justify-content-center  justify-content-md-between align-items-center">
      <p href="#" class="d-none d-md-block"></p>
      <p class="text-center text-dark py-6">© 2023 Willmeow All Rights Reserved.</p>
      <a href="favorite-list.html" class="d-none d-md-block">我的收藏</a>
    </div>
  </div>
</footer>
