.heart-checkbox {
  display: none; /* 隐藏复选框 */
}

.heart {
  position: absolute;
  right: 16px;
  top: 16px;
  background: $white;
  border-radius: 48px;
  cursor: pointer;
  z-index: 2;
  .heart-img {
    width: 32px;
    height: 32px;
    @include pc-xl {
      width: 24px;
      height: 24px;
    }
  }
}
.heart-checkbox:checked + .heart img {
  content: url("../images/favorite_fill.png");
}
.heart-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  padding-left: 4px;
  padding-bottom: 2px;
  // justify-content: flex-end;
  position: absolute;
  right: 16px;
  top: 16px;
  background: $secondary-200;
  border-radius: 48px;
  width: 32px;
  height: 32px;
  // cursor: pointer;
  z-index: 3;
  svg {
    color: $secondary-600;
  }
}
.heart-checkbox:checked + .heart-svg:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  right: 5.5px;
  position: absolute;
  background: url('data:image/svg+xml,%3Csvg%20xmlns="http://www.w3.org/2000/svg"%20width="30"%20height="30"%20fill="%23A89916"%20class="bi%20bi-heart-fill"%20viewBox="0%200%2032%2030"%3E%3Cpath%20fill-rule="evenodd"%20d="M8%201.314C12.438-3.248%2023.534%204.735%208%2015-7.534%204.736%203.562-3.248%208%201.314"%20transform="scale(2)"%2F%3E%3C%2Fsvg%3E')
    no-repeat center center;
  background-size: 20px 20px; /* 設定填充的愛心大小 */
}
.heart-svg2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  padding-left: 4px;
  padding-bottom: 2px;
  // justify-content: flex-end;
  position: absolute;
  right: 16px;
  top: 16px;
  background: white;
  border-radius: 48px;
  width: 40px;
  height: 40px;
  // cursor: pointer;
  z-index: 3;
  svg {
    color: $primary-400;
  }
}

.heart-checkbox:checked + .heart-svg2:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 24px;
  right: 7px;
  position: absolute;
  background: url('data:image/svg+xml,%3Csvg%20xmlns="http://www.w3.org/2000/svg"%20width="30"%20height="30"%20fill="%2343B8BD"%20class="bi%20bi-heart-fill"%20viewBox="0%200%2032%2030"%3E%3Cpath%20fill-rule="evenodd"%20d="M8%201.314C12.438-3.248%2023.534%204.735%208%2015-7.534%204.736%203.562-3.248%208%201.314"%20transform="scale(2)"%2F%3E%3C%2Fsvg%3E')
    no-repeat center center;
  background-size: 25px 24px; /* 設定填充的愛心大小 */
}

.heart3 {
  padding: 6px 7px;
  color: $primary-400;
  position: absolute;
  right: 16px;
  top: 16px;
  background: white;
  border-radius: 48px;
  font-size: 32px;
  line-height: 1 !important;
  z-index: 3;
}
.heart4 {
  padding: 6px 7px;
  color: $primary-400;
  background: white;
  border-radius: 48px;
  font-size: 32px;
  line-height: 1 !important;
  z-index: 3;
}
