.heart-checkbox {
  display: none; /* 隐藏复选框 */
}

.heart {
  position: absolute;
  right: 16px;
  top: 16px;
  background: $white;
  border-radius: 48px;
  cursor: pointer;
  z-index: 2;
  .heart-img {
    font-size: 32px;
    // content: url("../images/favorite_border.png");
    @include pc-xl {
      font-size: 24px;
    }
  }
}
.heart-checkbox:checked + .heart img {
  content: url("../images/favorite_fill.png");
}
.heart2{
    position: absolute;
    z-index: 2;
}
.heart-checkbox:checked + .heart2::before {
    /* 样式设置 */
    content: "\F415"; /* Unicode 码表示心形符号 */
  }