.image-tab-pane {
  position: relative;
  width: 714px !important;
  height: 604px;
  .first-img,
  .second-image {
    border-radius: 24px;
  }
  .first-img {
    position: absolute;
    top: 32px;
    left: 0;
  }
  .second-image {
    position: absolute;
    top: 0;
    left: 32px;
  }
}
// * {
//   outline: 1px solid #000;
// }
.list-group-item {
  border: 2px solid transparent !important;
  border-radius: 24px !important;
}
.list-group-item.active {
  outline: 2px solid $primary-400 !important;
  border-radius: 24px !important;
}

// .card{
//   position: relative;
//   .heart{
//     position: absolute;
//     right: 16px;
//     top: 16px;
//     background: $white;
//     border-radius: 48px;
//   }
// }
.card-attractions {
  position: relative;
  img {
    border-radius: 24px;
    display: block;
  }
  .heart-checkbox {
    display: none; /* 隐藏复选框 */
  }
  .heart {
    position: absolute;
    right: 16px;
    top: 16px;
    background: $white;
    border-radius: 48px;
    cursor: pointer;
    z-index: 2;
    img {
      content: url("../images/favorite_border.png");
    }
  }
  .mask {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    color: #fff;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 24px;
    }

    p {
      z-index: 1;
    }
  }

  &:hover .mask {
    opacity: 1;
  }
}

.heart-checkbox:checked + .heart img {
  content: url("../images/favorite_fill.png");
}

.image-mask {
  position: relative;
  img {
    border-radius: 24px;
    display: block;
  }
  .heart-checkbox {
    display: none; /* 隐藏复选框 */
  }
  .heart {
    position: absolute;
    right: 16px;
    top: 16px;
    background: $white;
    border-radius: 48px;
    cursor: pointer;
    z-index: 2;
    img {
      content: url("../images/favorite_border.png");
    }
  }
  .mask {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    color: #fff;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 24px;
    }
    p {
      z-index: 1;
    }
  }
  &:hover .mask {
    opacity: 1;
  }
}
.ad {
  background-image: url("../images/banner-lg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.card-travel-plan {
  position: relative;
  .tag{
    position: absolute;
    left: 32px;
    top: -2px;
    background-repeat: no-repeat;
    writing-mode: vertical-rl;
    letter-spacing:6px;
  }
  .heart-checkbox {
    display: none; /* 隐藏复选框 */
  }
  .heart {
    position: absolute;
    right: 16px;
    top: 16px;
    background: $white;
    border-radius: 48px;
    cursor: pointer;
    z-index: 2;
    img {
      content: url("../images/favorite_border.png");
    }
  }
}
