.image-tab-pane {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 80%; // 調整 padding-top，使高度為寬度的百分之82.5

  @include pc-xl{
    padding-top: 112.5%;
  }
  @include pc-xl-min{
    padding-top: 95%;
  }
  @include pc-xxl-min{
    padding-top: 80%;
   }
  @include pc-lg{
    padding-top: 82.5%;
  }
  .first-img,
  .second-img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 24px; // 設置圓弧半徑為 24px
  }

  .second-img {
    top: 0;
    right: 0; 
    z-index: 2; // 使 second-img 在上方
  }

  .first-img {
    top: 32px; // 從左下角開始
    left: 0;
    right: 32px; // 從右邊保持32px的距離
    z-index: 1; // 使 first-img 在下方
    @include pc-lg{
      top: 16px; // 從左下角開始
      left: 0;
      right: 16px;
    }
  }
}
.row {
  .col-md-7 {
    .tab-content {
      flex-grow: 1;
    }
  }
}


.list-group-item {
  border: 2px solid transparent !important;
  border-radius: 24px !important;
}
.list-group-item.active {
  border: 2px solid $primary-400 !important;
  border-radius: 24px !important;
}

.card-attractions {
  position: relative;
  img {
    border-radius: 24px;
    display: block;
  }
  .heart-checkbox {
    display: none; /* 隐藏复选框 */
  }
  .heart {
    position: absolute;
    right: 16px;
    top: 16px;
    background: $white;
    border-radius: 48px;
    cursor: pointer;
    z-index: 2;
    img {
      content: url("../images/favorite_border.png");
    }
  }
  .mask {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    color: #fff;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 24px;
    }

    p {
      z-index: 1;
    }
  }

  &:hover .mask {
    opacity: 1;
  }
}

.heart-checkbox:checked + .heart img {
  content: url("../images/favorite_fill.png");
}

.image-mask {
  position: relative;
  img {
    border-radius: 24px;
    display: block;
  }
  .heart-checkbox {
    display: none; /* 隐藏复选框 */
  }
  .heart {
    position: absolute;
    right: 16px;
    top: 16px;
    background: $white;
    border-radius: 48px;
    cursor: pointer;
    z-index: 2;
    img {
      content: url("../images/favorite_border.png");
    }
  }
  .mask {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    color: #fff;
    opacity: 0.4;
    transition: opacity 0.3s ease;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 60%);
      border-radius: 24px;
    }
    p {
      z-index: 1;
    }
  }
  &:hover .mask {
    opacity: 1;
  }
}

.card-travel-plan {
  position: relative;
  .tag {
    position: absolute;
    left: 32px;
    top: -2px;
    background-repeat: no-repeat;
    writing-mode: vertical-rl;
    letter-spacing: 6px;
  }
  .heart-checkbox {
    display: none; /* 隐藏复选框 */
  }
  .heart {
    position: absolute;
    right: 16px;
    top: 16px;
    background: $white;
    border-radius: 48px;
    cursor: pointer;
    z-index: 2;
    img {
      content: url("../images/favorite_border.png");
    }
  }
}


.material-symbols-outlined {
  color: black;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.list-group-item + .list-group-item.active{
  margin-top: 0 !important;
}


//search-bar-input & button position

.search-btn-cerulean-blue-position{
  top:50%;
  right:0;
  transform: translateY(-50%);
  z-index:2;
  @include pad-md{
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%,20%);
  }
}