.banner-ad {
    background-image: url("../images/banner-lg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    max-height: 250px;
    height: 250px;
  }
  