<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>收藏列表</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="banner-ad d-flex justify-content-center align-items-center">
      <p class="fs-1 text-center">收藏列表</p>
    </div>
    <div class="tourist-attractions-list">
      <div class="container py-30">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="pb-20">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
          </ol>
        </nav>
        <div class="tourist-list">
          <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center bg-primary-600 p-20">
              <span class="loader"></span>
         </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/ad'); -%>
      <!-- <h1>我是contact</h1>
    <div class="border-top-sm">
      12315646
    </div>
    <button type="button" class="plusOne">＋1</button> -->
      <%- include('./layout/footer'); -%>
        <script type="module" src="../assets/js/border.js"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>