<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>南部輕旅遊</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="banner">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="banner-bg banner-img1">
              <div class="banner-box p-10 mx-auto text-center">
                <p class="fs-1 mb-8 d-flex align-items-center justify-content-center">
                  <img src="../assets/images/icon-map.png" alt="icon-map" style="height:32px;" class="me-2">
                  嘉義景點推薦
                  <img src="../assets/images/icon-map.png" alt="icon-map" style="height:32px;" class="ms-2">
                </p>
                <h1 class="font-hero mb-10">國立故宮博物院南部院區</h1>
                <p class="fs-5 mb-2">博物館建築以中國水墨畫濃墨、非白與渲染三種技法</p>
                <p class="fs-5">形成時量體展示空間及文物庫房、虛量體公共接待空間與穿透連接空間</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide m-auto">
            <div class="banner-bg banner-img2"></div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="search-bar bg-primary-400 border-left-bottom">
      <div class="container text-center py-20">
        <p class="fs-3 text-white mb-10 fw-bold">開始你的南部輕旅遊！</p>
        <div class="mx-auto" style="max-width: 856px;">
          <div class="input-group position-relative">
            <input type="text" class="form-control rounded-pill px-10 py-4 z-index-2 border-0" placeholder="輸入遊玩縣市">
            <a class="btn-cerulean-blue position-absolute top-50 end-0 translate-middle-y z-index-2" type="button"
              hrdf="#" style="width:180px;">GO !</a>
          </div>
        </div>
      </div>
    </div>

    <div class="latestNews">
      <div class="container py-30">
        <p class="fs-1 text-primary-700 fw-bold mb-2 text-center">最新消息</p>
        <p class="fs-5 text-center mb-20">Latest News</p>
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <div class="image-tab-pane">
                  <img src="../assets/images/Frame 22.png" class="img-fluid opacity-25 img-fluid first-img z-index-1" style="width: 714px;height: 604px;">
                  <img src="../assets/images/Frame 22.png" class=" img-fluid second-image z-index-2" style="width: 714px;height: 604px;">
                </div>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div class="image-tab-pane">
                  <img src="../assets/images/attraction1.png" class="img-fluid opacity-25 img-fluid first-img z-index-1 mw-100" style="width: 714px;height: 604px;">
                  <img src="../assets/images/attraction1.png" class=" img-fluid second-image z-index-2" style="width: 714px;height: 604px;">
                </div>
              </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...
              </div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...
              </div>
              <div class="tab-pane fade" id="list-settings2" role="tabpanel" aria-labelledby="list-settings-list">...
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active p-6 border-0" id="list-home-list" data-bs-toggle="list"
                href="#list-home" role="tab" aria-controls="list-home">
                <div class="d-flex mb-3">
                  <span class="badge rounded-pill bg-primary-200 text-primary-500 fw-bold me-1 py-1 px-4">旅遊方案</span>
                  <span class="badge rounded-pill bg-light2 text-dark2 py-1 px-4">嘉義</span>
                </div>
                <div class="nav-section-title">
                  <h4 class="mb-2 fw-bold text-primary-700">阿里山芬多精之雙日遊</h4>
                  <p class="fs-5 text-dark2">2024/10/28 ~ 2024/10/29</p>
                </div>

              </a>
              <a class="list-group-item list-group-item-action p-6 border-0" id="list-profile-list" data-bs-toggle="list"
                href="#list-profile" role="tab" aria-controls="list-profile">
                <div class="d-flex mb-3">
                  <span class="badge rounded-pill bg-primary-200 text-primary-500 fw-bold me-1 py-1 px-4">旅遊方案</span>
                  <span class="badge rounded-pill bg-light2 text-dark2 py-1 px-4">嘉義</span>
                </div>
                <div class="nav-section-title">
                  <h4 class="mb-2 fw-bold text-primary-700">阿里山芬多精之雙日遊</h4>
                  <p class="fs-5 text-dark2">2024/10/28 ~ 2024/10/29</p>
                </div>
              </a>
              <a class="list-group-item list-group-item-action p-6 border-0" id="list-messages-list" data-bs-toggle="list"
                href="#list-messages" role="tab" aria-controls="list-messages">
                <div class="d-flex mb-3">
                  <span class="badge rounded-pill bg-primary-200 text-primary-500 fw-bold me-1 py-1 px-4">旅遊方案</span>
                  <span class="badge rounded-pill bg-light2 text-dark2 py-1 px-4">嘉義</span>
                </div>
                <div class="nav-section-title">
                  <h4 class="mb-2 fw-bold text-primary-700">阿里山芬多精之雙日遊</h4>
                  <p class="fs-5 text-dark2">2024/10/28 ~ 2024/10/29</p>
                </div>
              </a>
              <a class="list-group-item list-group-item-action p-6 border-0" id="list-settings-list" data-bs-toggle="list"
                href="#list-settings2" role="tab" aria-controls="list-settings">
                <div class="d-flex mb-3">
                  <span class="badge rounded-pill bg-primary-200 text-primary-500 fw-bold me-1 py-1 px-4">旅遊方案</span>
                  <span class="badge rounded-pill bg-light2 text-dark2 py-1 px-4">嘉義</span>
                </div>
                <div class="nav-section-title">
                  <h4 class="mb-2 fw-bold text-primary-700">阿里山芬多精之雙日遊</h4>
                  <p class="fs-5 text-dark2">2024/10/28 ~ 2024/10/29</p>
                </div>
              </a>
              <a class="list-group-item list-group-item-action p-6 border-0" id="list-settings-list" data-bs-toggle="list"
                href="#list-settings" role="tab" aria-controls="list-settings">
                <div class="d-flex mb-3">
                  <span class="badge rounded-pill bg-primary-200 text-primary-500 fw-bold me-1 py-1 px-4">旅遊方案</span>
                  <span class="badge rounded-pill bg-light2 text-dark2 py-1 px-4">嘉義</span>
                </div>
                <div class="nav-section-title">
                  <h4 class="mb-2 fw-bold text-primary-700">阿里山芬多精之雙日遊</h4>
                  <p class="fs-5 text-dark2">2024/10/28 ~ 2024/10/29</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-30">
      <p class="font-hero text-success">我是首頁</p>
      <p class="bg-primary-200 fs-1">123456</p>
      <p class="index-title">1234564</p>
      <div class="card" style="width: 18rem">
        <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
        <div class="card-body">
          <h5 class="card-title">卡片元件</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
            nobis earum!
          </p>
        </div>
      </div>
    </div>

    <!-- Modal 按鈕 -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script type="module" src="../assets/js/swiper.js"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>