<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>南部輕旅遊</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="banner">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="banner-bg banner-img2">
              <div class="banner-box px-6 py-10 p-lg-10 mx-auto text-center">
                <p class="fs-md-1 fs-6 mb-5 mb-md-8 d-flex align-items-center justify-content-center">
                  <!-- <img src="../assets/images/icon-map.png" alt="icon-map" class="me-2 icon-map"> -->
                  <i class="bi bi-geo-alt-fill me-2 icon-map"></i>
                  高雄景點推薦
                  <i class="bi bi-geo-alt-fill ms-2 icon-map"></i>
                </p>
                <h1 class="font-hero mb-0 mb-md-10 text-nowrap">旗津黃金海韻－海珍珠</h1>
                <p class="fs-6 fs-lg-5 mb-2 d-none d-md-block">由兩位藝術家耗時6年完成，外純白、內金黃的海貝造型</p>
                <p class="fs-6 fs-lg-5 d-none d-md-block">能讓遊客聆聽海聲，更是亞洲最大的貝殼裝置藝術</p>
              </div>
              <div class="d-block d-md-none mt-8 text-center text-white mb-8">
                <p class="fs-7 mb-2">由兩位藝術家耗時6年完成<br>外純白、內金黃的海貝造型</p>
                <p class="fs-7">能讓遊客聆聽海聲<br>更是亞洲最大的貝殼裝置藝術</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banner-bg banner-img1">
              <div class="banner-box px-6 py-10 p-lg-10 mx-auto text-center">
                <p class="fs-md-1 fs-6 mb-5 mb-md-8 d-flex align-items-center justify-content-center">
                  <!-- <img src="../assets/images/icon-map.png" alt="icon-map" class="me-2 icon-map"> -->
                  <i class="bi bi-geo-alt-fill me-2 icon-map"></i>
                  嘉義景點推薦
                  <i class="bi bi-geo-alt-fill ms-2 icon-map"></i>
                </p>
                <h1 class="font-hero mb-0 mb-md-10 text-nowrap">國立故宮博物院南部院區</h1>
                <p class="fs-6 fs-lg-5 mb-2 d-none d-md-block">博物館建築以中國水墨畫濃墨、非白與渲染三種技法</p>
                <p class="fs-6 fs-lg-5 d-none d-md-block">形成時量體展示空間及文物庫房、虛量體公共接待空間與穿透連接空間</p>
              </div>
              <div class="d-block d-md-none mt-8 text-center text-white mb-8">
                <p class="fs-7 mb-2">博物館建築以中國水墨畫濃墨、<br>非白與渲染三種技法</p>
                <p class="fs-7">形成時量體展示空間及文物庫房、<br>虛量體公共接待空間與穿透連接空間</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="search-bar bg-primary-400 border-left-bottom">
      <div class="container text-center pt-10 pb-25 py-md-20">
        <p class="fs-3 text-white mb-10 fw-bold">開始你的南部輕旅遊！</p>
        <div class="mx-auto" style="max-width: 856px;">
          <div class="input-group position-relative">
            <input type="text" class="form-control rounded-pill px-6 px-md-10 py-4 z-index-2 border-0"
              placeholder="輸入遊玩縣市">
            <a class="btn-cerulean-blue position-absolute search-btn-cerulean-blue-position" type="button" hrdf="#">GO
              !</a>
          </div>
        </div>
      </div>
    </div>

    <div class="latestNews">
      <div class="container py-10 py-lg-30">
        <p class="fs-4 fs-lg-1 text-primary-700 fw-bold mb-1 mb-lg-2 text-center">最新消息</p>
        <p class="fs-6 fs-lg-5 text-center mb-5 mb-lg-20">Latest News</p>
        <div class="row">
          <div class="col-12 col-lg-7">
            <div class="tab-content mb-8 mb-lg-0 flex-grow-1" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <div class="image-tab-pane">
                  <img src="../assets/images/Frame 22.png" class="img-fluid opacity-25 first-img z-index-1">
                  <img src="../assets/images/Frame 22.png" class=" img-fluid second-img z-index-2">
                  <a class="btn-golden-yellow fs-5 position-absolute end-5 bottom-5 z-index-3 col-md-3" href="#"
                    type="button">查看更多</a>
                </div>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div class="image-tab-pane">
                  <img src="../assets/images/pic-grass.jpg" class="img-fluid opacity-25 first-img z-index-1">
                  <img src="../assets/images/pic-grass.jpg" class=" img-fluid second-img z-index-2">
                  <a class="btn-golden-yellow fs-5 position-absolute end-5 bottom-5 z-index-3 col-md-3" href="#"
                    type="button">查看更多</a>
                </div>
              </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <div class="image-tab-pane">
                  <img src="../assets/images/attraction3.png" class="img-fluid opacity-25 first-img z-index-1">
                  <img src="../assets/images/attraction3.png" class=" img-fluid second-img z-index-2">
                  <a class="btn-golden-yellow fs-5 position-absolute end-5 bottom-5 z-index-3 col-md-3" href="#"
                    type="button">查看更多</a>
                </div>
              </div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <div class="image-tab-pane">
                  <img src="../assets/images/pic-church2.jpg" class="img-fluid opacity-25 first-img z-index-1">
                  <img src="../assets/images/pic-church2.jpg" class=" img-fluid second-img z-index-2">
                  <a class="btn-golden-yellow fs-5 position-absolute end-5 bottom-5 z-index-3 col-md-3"
                    href="tourist-chiayi-1.html" type="button">查看更多</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active px-6 py-4 p-lg-6 mb-2" id="list-home-list"
                data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="list-tab-title">
                    <div class="d-flex mb-3">
                      <span
                        class="badge rounded-pill bg-primary-200 text-primary-500 fw-bold me-1 py-1 px-4 fs-6">旅遊方案</span>
                      <span class="badge rounded-pill bg-light2 text-dark2 py-1 px-4 fs-6">嘉義</span>
                    </div>
                    <div class="nav-section-title">
                      <h4 class="fs-5 fs-lg-3 mb-2 fw-bold text-primary-700">阿里山芬多精之雙日遊</h4>
                      <p class="fs-6 fs-lg-5 text-dark2">2024/10/28 ~ 2024/10/29</p>
                    </div>
                  </div>
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </div>
              </a>
              <a class="list-group-item list-group-item-action px-6 py-4 p-lg-6 mb-2" id="list-profile-list"
                data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="list-tab-title">
                    <div class="d-flex mb-3">
                      <span
                        class="badge rounded-pill bg-primary-200 text-primary-500 fw-bold me-1 py-1 px-4 fs-6">旅遊方案</span>
                      <span class="badge rounded-pill bg-light2 text-dark2 py-1 px-4 fs-6">台南</span>
                    </div>
                    <div class="nav-section-title">
                      <h4 class="fs-5 fs-lg-3 mb-2 fw-bold text-primary-700">綠色隧道一日遊</h4>
                      <p class="fs-6 fs-lg-5 text-dark2">2024/10/31</p>
                    </div>
                  </div>
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </div>
              </a>
              <a class="list-group-item list-group-item-action px-6 py-4 p-lg-6 mb-2" id="list-messages-list"
                data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="list-tab-title">
                    <div class="d-flex mb-3">
                      <span
                        class="badge rounded-pill bg-primary-200 text-primary-500 fw-bold me-1 py-1 px-4 fs-6">旅遊方案</span>
                      <span class="badge rounded-pill bg-light2 text-dark2 py-1 px-4 fs-6">高雄</span>
                    </div>
                    <div class="nav-section-title">
                      <h4 class="fs-5 fs-lg-3 mb-2 fw-bold text-primary-700">海陸體驗，玩食高雄雙日遊</h4>
                      <p class="fs-6 fs-lg-5 text-dark2">2024/12/10 ~ 2024/12/11</p>
                    </div>
                  </div>
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </div>
              </a>
              <a class="list-group-item list-group-item-action px-6 py-4 p-lg-6 mb-2" id="list-settings-list"
                data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="list-tab-title">
                    <div class="d-flex mb-3">
                      <span
                        class="badge rounded-pill bg-secondary-200 text-secondary-600 fw-bold me-1 py-1 px-4 fs-6">旅遊景點</span>
                      <span class="badge rounded-pill bg-light2 text-dark2 py-1 px-4 fs-6">嘉義</span>
                    </div>
                    <div class="nav-section-title">
                      <h4 class="fs-5 fs-lg-3 mb-2 fw-bold text-primary-700">高跟鞋教堂</h4>
                      <p class="fs-6 fs-lg-5 text-dark2">2024/12/23</p>
                    </div>
                  </div>
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="southern-tourist-attractions bg-light">
      <div class="container py-10 py-lg-30">
        <p class="fs-4 fs-lg-1 text-primary-700 fw-bold mb-2 text-center">南部旅遊景點</p>
        <p class="fs-6 fs-lg-5 text-center mb-5 mb-lg-20">Southern tourist attractions</p>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="card-attractions mb-5 mb-lg-0">
              <!-- 愛心點選 -->
              <input type="checkbox" id="heartCheckbox1" class="heart-checkbox">
              <label for="heartCheckbox1" class="heart-svg2">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-heart"
                  viewBox="0 0 18 18">
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                </svg>
              </label>
              <img src="../assets/images/attraction1.png" class="card-img-top img-fluid card-attractions-img"
                alt="嘉義公園-射日塔">
              <a href="tourist-attractions.html" class="stretched-link">
                <div class="mask">
                  <p class="fs-5 fs-xl-3 fw-bold mb-4">嘉義公園-射日塔</p>
                  <p class="fs-6 fs-xl-5">在嘉義公園內，民眾只要仰頭看，便能看見一朵巨型豔紫荊花，與藍天相輝映。豔紫荊花為嘉義市市花，透過射日塔照射，充分顯示嘉義市花之美！</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row h-100">
              <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
                <div class="image-mask mb-5 mb-lg-6">
                  <!-- 愛心點選 -->
                  <input type="checkbox" id="heartCheckbox2" class="heart-checkbox">
                  <label for="heartCheckbox2" class="heart-svg2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                      class="bi bi-heart" viewBox="0 0 18 18">
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg>
                  </label>
                  <img src="../assets/images/attraction2.png" alt="Image 2"
                    class="img-size-attractions-1 image-mask-img">
                  <a href="tourist-attractions.html" class="stretched-link">
                    <div class="mask mask-33 flex-column">
                      <p class="fs-5 fs-xl-4 fw-bold mb-2">黃金海韻海珍珠</p>
                      <p class="fs-6">情侶必遊之地</p>
                    </div>
                  </a>
                </div>
                <div class="image-mask mb-5 mb-lg-0">
                  <!-- 愛心點選 -->
                  <input type="checkbox" id="heartCheckbox3" class="heart-checkbox">
                  <label for="heartCheckbox3" class="heart-svg2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                      class="bi bi-heart" viewBox="0 0 18 18">
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg>
                  </label>
                  <img src="../assets/images/attraction5.png" alt="Image 2"
                    class="img-size-attractions-2 image-mask-img">
                  <a href="tourist-attractions.html" class="stretched-link">
                    <div class="mask mask-62 flex-column">
                      <p class="fs-5 fs-xl-4 fw-bold mb-2">安平古堡</p>
                      <p class="fs-6">荷蘭時期遺蹟</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
                <div class="image-mask mb-5 mb-lg-6">
                  <!-- 愛心點選 -->
                  <input type="checkbox" id="heartCheckbox4" class="heart-checkbox">
                  <label for="heartCheckbox4" class="heart-svg2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                      class="bi bi-heart" viewBox="0 0 18 18">
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg>
                  </label>
                  <img src="../assets/images/attraction4.png" alt="Image 3"
                    class="img-fluid img-size-attractions-2 image-mask-img">
                  <a href="tourist-attractions.html" class="stretched-link">
                    <div class="mask flex-column">
                      <p class="fs-5 fs-xl-4 fw-bold mb-2">旋轉式行人跨海大橋</p>
                      <p class="fs-6">台灣第一座</p>
                    </div>
                  </a>
                </div>
                <div class="image-mask mb-5 mb-lg-0">
                  <!-- 愛心點選 -->
                  <input type="checkbox" id="heartCheckbox5" class="heart-checkbox">
                  <label for="heartCheckbox5" class="heart-svg2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                      class="bi bi-heart" viewBox="0 0 18 18">
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg>
                  </label>
                  <img src="../assets/images/attraction3.png" alt="Image 4"
                    class="img-fluid img-size-attractions-1 image-mask-img">
                  <a href="tourist-attractions.html" class="stretched-link">
                    <div class="mask flex-column">
                      <p class="fs-5 fs-xl-4 fw-bold mb-2">愛河河畔美景</p>
                      <p class="fs-6">愛之船情侶遊覽</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/ad'); -%>

      <div class="southern-travel-plan">
        <div class="container py-10 py-lg-30">
          <p class="fs-4 fs-lg-1 text-primary-700 fw-bold mb-2 text-center">南部旅遊方案</p>
          <p class="fs-6 fs-lg-5 text-center mb-5 mb-lg-20">Southern tourist attractions</p>
          <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col">
              <div class="card-travel-plan h-100">
                <span class="tag text-white">高雄</span>
                <!-- 愛心點選 -->
                <input type="checkbox" id="heartCheckbox6" class="heart-checkbox">
                <label for="heartCheckbox6" class="heart-svg2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 18 18">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                  </svg>
                </label>
                <img src="../assets/images/plan1.png" class="card-img-top pb-6 pb-6" alt="亞灣區精選夜間路線">
                <div class="card-body">
                  <a href="tourist-package.html">
                    <h3 class="fs-5 fs-lg-3 card-title pb-4 fw-bold text-primary-700 stretched-link">亞灣區精選夜間路線</h3>
                  </a>
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/calendar_today.png" alt="calendar_today" class="img-fluid me-2">
                      <span class="fs-6 fs-lg-5">一日遊</span>
                    </div>
                    <p class="fs-4 fs-lg-3 text-primary-500">$8,000</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-travel-plan h-100">
                <span class="tag text-white">嘉義</span>
                <!-- 愛心點選 -->
                <input type="checkbox" id="heartCheckbox7" class="heart-checkbox">
                <label for="heartCheckbox7" class="heart-svg2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 18 18">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                  </svg>
                </label>
                <img src="../assets/images/plan2.png" class="card-img-top pb-6" alt="阿里山芬多精之旅">
                <div class="card-body">
                  <a href="tourist-package.html">
                    <h3 class="fs-5 fs-lg-3 card-title pb-4 fw-bold text-primary-700 stretched-link">阿里山芬多精之旅</h3>
                  </a>
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/calendar_today.png" alt="calendar_today" class="img-fluid me-2">
                      <span class="fs-6 fs-lg-5">二日遊</span>
                    </div>
                    <p class="fs-4 fs-lg-3 text-primary-500">$24,000</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-travel-plan h-100">
                <span class="tag text-white">台南</span>
                <!-- 愛心點選 -->
                <input type="checkbox" id="heartCheckbox8" class="heart-checkbox">
                <label for="heartCheckbox8" class="heart-svg2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 18 18">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                  </svg>
                </label>
                <img src="../assets/images/plan3.png" class="card-img-top pb-6" alt="歷史探訪之旅">
                <div class="card-body">
                  <a href="tourist-package.html">
                    <h3 class="fs-5 fs-lg-3 card-title pb-4 fw-bold text-primary-700 stretched-link">歷史探訪之旅</h3>
                  </a>
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/calendar_today.png" alt="calendar_today" class="img-fluid me-2">
                      <span class="fs-6 fs-lg-5">一日遊</span>
                    </div>
                    <p class="fs-4 fs-lg-3 text-primary-500">$7,500</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <%- include('./layout/footer'); -%>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
          integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
          async></script>
        <script type="module" src="../assets/js/swiper.js"></script>
        <script type="module" src="../assets/js/border.js"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>