<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>南部旅遊方案</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <a href="#" class="top-btn" type="button">TOP</a>
    <div class="banner-ad d-flex justify-content-center align-items-center">
      <p class="fs-1 text-center">南部旅遊方案</p>
    </div>
    <div class="tourist-attractions-list">
      <div class="container py-10 py-lg-30">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="pb-5 pb-lg-20">
          <ol class="breadcrumb mb-0 fs-5">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">南部旅方案</li>
          </ol>
        </nav>
        <div class="tourist-list">
          <div class="row">
            <div class="col-12 col-md-3 mb-5 mb-md-6 mb-lg-0">
              <div class="border-info2 border-1 border">
                <a href="tourist-package-1.html" class="nav-link fs-5 p-5 link-color2 d-block active">回到目前景點介紹</a>
                <p class="fs-4 p-5 bg-primary-500 text-white">地區篩選</p>
                <ul class="nav flex-column attraction-plans-select">
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between" data-name="全部"
                      aria-current="page" href="#">全部區域<span class="attractionsNum"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between " href="#"
                      data-name="嘉義">嘉義<span class="attractionsNum2"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between" href="#"
                      data-name="台南">台南<span class="attractionsNum2">1</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between" data-name="高雄">高雄<span
                        class="attractionsNum2">1</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="row g-3 attraction-plans-wrap">
                <span class="btn btn-primary-600 text-white col-2 p-2 fs-6 me-3">鐵道之旅</span>
                <span class="btn btn-primary-400 text-white col-2 p-2 fs-6">嘉義</span>
                <div class="intr-title d-flex justify-content-between mb-4 fs-3 border-bottom border-primary-500 border-2">
                  <div class="d-flex align-items-center">
                    <p class="fs-3 me-2 fw-bold">阿里山芬多精之雙日遊</p>
                    <div class="heart4">
                      <i class="bi bi-heart"></i>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-cart-fill me-1 fs-2 fs-lg-5 z-index-3" style="color: #0EA0A6;"></i>
                    <p>$24000</p>
                  </div>
                </div>
                <%- include('./layout/loader2'); -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/ad'); -%>
      <%- include('./layout/footer'); -%>
        <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
        <script type="module" src="../assets/js-json/viewSinglePackage.js"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>