<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>南部旅遊景點</title>
</head>

<body>
  <%- include('./layout/header'); -%>
  <a href="#" class="top-btn" type="button">TOP</a>
    <div class="banner-ad d-flex justify-content-center align-items-center">
      <p class="fs-1 text-center">南部旅遊景點</p>
    </div>
    <div class="tourist-attractions-list">
      <div class="container py-10 py-lg-30">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="pb-5 pb-lg-20">
          <ol class="breadcrumb mb-0 fs-5">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">南部旅遊景點</li>
          </ol>
        </nav>
        <div class="tourist-list">
          <div class="row">
            <div class="col-12 col-md-3 mb-5 mb-md-6 mb-lg-0">
              <div class="border-info2 border-1 border">
                <p class="fs-4 p-5 bg-primary-500 text-white">地區篩選</p>
                <ul class="nav flex-column attractions-select">
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color active d-flex justify-content-between" data-name="全部" aria-current="page"
                      href="#">全部區域<span class="attractionsNum"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between "
                      href="#" data-name="嘉義">嘉義<span class="attractionsNum2"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between" href="#" data-name="台南">台南<span class="attractionsNum2">0</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between" data-name="高雄">高雄<span class="attractionsNum2">0</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="row g-3 attractionWrap">
                <%- include('./layout/loader2'); -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/ad'); -%>
      <%- include('./layout/footer'); -%>
      <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
      <script type="module" src="../assets/js-json/auth.js"></script>
      <script type="module" src="../assets/js-json/changeBtn.js"></script>
        <script type="module" src="../assets/js/heart.js"></script>
        <script type="module" src="../assets/js/border.js"></script>
        <script type="module" src="../assets/js-json//viewSelectArea.js"></script>
        <!-- <script type="module" src="../assets/js-json/all-json.js"></script> -->
        <script type="module" src="../main.js"></script>
</body>

</html>