<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>tourist-attractions</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="banner-ad d-flex justify-content-center align-items-center">
      <p class="fs-1 text-center">南部旅遊景點</p>
    </div>
    <div class="tourist-attractions-list">
      <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="py-20">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">南部旅遊景點</li>
          </ol>
        </nav>
        <div class="tourist-list">
          <div class="row">
            <div class="col-12 col-sm-3 mb-6 mb-sm-0">
              <div class="border-dark2 border-1 border px-4 pt-4 pb-30">
                <p class="fs-3 mb-4">地區篩選</p>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2">
                    <a class="nav-link active" aria-current="page" href="tourist-attractions.html">全部區域</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a class="nav-link link-color" href="#">嘉義</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a class="nav-link link-color" href="#">台南</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a class="nav-link link-color">高雄</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-9">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/images/pic-church.jpg" class="card-img-top h-100" alt="台南水晶教堂">
                    <div class="card-body">
                      <h5 class="card-title">水晶教堂</h5>
                      <p class="card-text">
                        水晶教堂的建築靈感來自於以鹽堆為主的大堆，與小堆相連，主色調以鹽的白色為主，並以結晶鹽的晶瑩剔透作為設計靈感...</p>
                    </div>
                    <div class="card-footer text-end">
                      <small class="">more</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/images/pic-mesum.jpg" class="card-img-top h-100" alt="台南水晶教堂">
                    <div class="card-body">
                      <h5 class="card-title">國立故宮博物院南部院區
                      </h5>
                      <p class="card-text">
                        博物館建築以中國水墨畫濃墨、飛白與渲染三種技法，形成實量體展示空間及文物庫房、虛量體公共接待空間與穿透連接空間...</p>
                    </div>
                    <div class="card-footer text-end">
                      <small class="">more</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/images/pic-church.jpg" class="card-img-top h-100" alt="台南水晶教堂">
                    <div class="card-body">
                      <h5 class="card-title">水晶教堂</h5>
                      <p class="card-text">
                        水晶教堂的建築靈感來自於以鹽堆為主的大堆，與小堆相連，主色調以鹽的白色為主，並以結晶鹽的晶瑩剔透作為設計靈感...</p>
                    </div>
                    <div class="card-footer text-end">
                      <small class="">more</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/images/pic-mesum.jpg" class="card-img-top h-100" alt="台南水晶教堂">
                    <div class="card-body">
                      <h5 class="card-title">國立故宮博物院南部院區
                      </h5>
                      <p class="card-text">
                        博物館建築以中國水墨畫濃墨、飛白與渲染三種技法，形成實量體展示空間及文物庫房、虛量體公共接待空間與穿透連接空間...</p>
                    </div>
                    <div class="card-footer text-end">
                      <small class="">more</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/images/pic-church.jpg" class="card-img-top h-100" alt="台南水晶教堂">
                    <div class="card-body">
                      <h5 class="card-title">水晶教堂</h5>
                      <p class="card-text">
                        水晶教堂的建築靈感來自於以鹽堆為主的大堆，與小堆相連，主色調以鹽的白色為主，並以結晶鹽的晶瑩剔透作為設計靈感...</p>
                    </div>
                    <div class="card-footer text-end">
                      <small class="">more</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <h1>我是contact</h1>
    <div class="border-top-sm">
      12315646
    </div>
    <button type="button" class="plusOne">＋1</button> -->
    <%- include('./layout/footer'); -%>
      <script type="module" src="../assets/js/border.js"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>