<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>tourist-package</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <a href="#" class="top-btn" type="button">TOP</a>
    <div class="banner-ad d-flex justify-content-center align-items-center">
      <p class="fs-1 text-center">南部旅遊方案</p>
    </div>
    <div class="tourist-attractions-list">
      <div class="container py-10 py-lg-30">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="pb-5 pb-lg-20">
          <ol class="breadcrumb mb-0 fs-5">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">南部旅方案</li>
          </ol>
        </nav>
        <div class="tourist-list">
          <div class="row">
            <div class="col-12 col-md-3 mb-5 mb-md-6 mb-lg-0">
              <div class="border-info2 border-1 border">
                <p class="fs-4 p-5 bg-primary-500 text-white">地區篩選</p>
                <ul class="nav flex-column attraction-plans-select">
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between" data-name="全部"
                      aria-current="page" href="#">全部區域<span class="attractionsNum"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between " href="#"
                      data-name="嘉義">嘉義<span class="attractionsNum2"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between" href="#"
                      data-name="台南">台南<span class="attractionsNum2">1</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-5 fs-5 link-color d-flex justify-content-between" data-name="高雄">高雄<span
                        class="attractionsNum2">1</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="row g-3 attraction-plans-wrap">
                <!-- <%- include('./layout/loader2'); -%> -->
                <div class="col-12 col-md-6 col-lg-4 ">
                  <div class="card card-att h-100">
                    <span class="tag text-white">台南</span>
                    <div class="card-att-img">
                      <img src="../assets/images/plan3.png" class="card-img-top img-fluid " alt="歷史探訪之旅1日遊">
                    </div>
                    <div class="heart3">
                      <i class="bi bi-heart heart-click"></i>
                    </div>
                    <div class="card-body card-body-att">
                      <div class="card-title d-flex align-items-center">
                        <i class="bi bi-geo-fill me-1 fs-6 fs-lg-5 text-primary-700"></i>
                        <p class="fs-6 fs-lg-5 fw-bold text-primary-700 card-title-att">台南</p>
                      </div>
                      <h4 class="fs-6 fs-lg-5 fw-bold text-primary-700 card-title-att">歷史探訪之旅1日遊</h4>
                    </div>
                    <div class="card-footer d-flex justify-content-between border-0 pt-0">
                      <i class="bi bi-cart-fill me-1 fs-6 fs-lg-5"></i>
                      <span class="fs-6 fs-lg-5">$7500</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/ad'); -%>
      <%- include('./layout/footer'); -%>
        <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
        <script type="module" src="../assets/js-json/viewGetPackage.js"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>